<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab  label="Payer">Content 1</mat-tab>
  <mat-tab label="Rates">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel [expanded]="isExpanded" hideToggle>
        <mat-expansion-panel-header  class="header" #panelH (click)="panelH._toggle()">
          <div class="arrow-icon" >
            
          </div>
         
          <mat-panel-title class="title">
              <mat-icon (click)="panelH._toggle()">keyboard_arrow_down</mat-icon>
            Bill Rates
          </mat-panel-title>
          <svg  class="icn" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M13.5 9.75H9.75V13.5C9.75 13.9125 9.4125 14.25 9 14.25C8.5875 14.25 8.25 13.9125 8.25 13.5V9.75H4.5C4.0875 9.75 3.75 9.4125 3.75 9C3.75 8.5875 4.0875 8.25 4.5 8.25H8.25V4.5C8.25 4.0875 8.5875 3.75 9 3.75C9.4125 3.75 9.75 4.0875 9.75 4.5V8.25H13.5C13.9125 8.25 14.25 8.5875 14.25 9C14.25 9.4125 13.9125 9.75 13.5 9.75Z" fill="white"/>
          </svg>
        </mat-expansion-panel-header>
        <p>Add a custom rate(optional) if different from base rates set in Office Settings</p>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="header">
          <mat-panel-title class="title">
            <mat-icon (click)="panelH._toggle()">keyboard_arrow_down</mat-icon>
            Caregiver Bill Rates
          </mat-panel-title>
          <svg class="icn" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M13.5 9.75H9.75V13.5C9.75 13.9125 9.4125 14.25 9 14.25C8.5875 14.25 8.25 13.9125 8.25 13.5V9.75H4.5C4.0875 9.75 3.75 9.4125 3.75 9C3.75 8.5875 4.0875 8.25 4.5 8.25H8.25V4.5C8.25 4.0875 8.5875 3.75 9 3.75C9.4125 3.75 9.75 4.0875 9.75 4.5V8.25H13.5C13.9125 8.25 14.25 8.5875 14.25 9C14.25 9.4125 13.9125 9.75 13.5 9.75Z" fill="white"/>
          </svg>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
      </mat-expansion-panel>
      
    
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="header">
          <mat-panel-title class="title">
            <mat-icon (click)="panelH._toggle()">keyboard_arrow_down</mat-icon>
            Pay Rates
          </mat-panel-title>
          <svg class="icn" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M13.5 9.75H9.75V13.5C9.75 13.9125 9.4125 14.25 9 14.25C8.5875 14.25 8.25 13.9125 8.25 13.5V9.75H4.5C4.0875 9.75 3.75 9.4125 3.75 9C3.75 8.5875 4.0875 8.25 4.5 8.25H8.25V4.5C8.25 4.0875 8.5875 3.75 9 3.75C9.4125 3.75 9.75 4.0875 9.75 4.5V8.25H13.5C13.9125 8.25 14.25 8.5875 14.25 9C14.25 9.4125 13.9125 9.75 13.5 9.75Z" fill="white"/>
          </svg>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header class="header">
          <mat-panel-title class="title">
            <mat-icon  (click)="panelH._toggle()">keyboard_arrow_down</mat-icon>
            Caregiver Pay Rates
          </mat-panel-title>
          <svg class="icn" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M13.5 9.75H9.75V13.5C9.75 13.9125 9.4125 14.25 9 14.25C8.5875 14.25 8.25 13.9125 8.25 13.5V9.75H4.5C4.0875 9.75 3.75 9.4125 3.75 9C3.75 8.5875 4.0875 8.25 4.5 8.25H8.25V4.5C8.25 4.0875 8.5875 3.75 9 3.75C9.4125 3.75 9.75 4.0875 9.75 4.5V8.25H13.5C13.9125 8.25 14.25 8.5875 14.25 9C14.25 9.4125 13.9125 9.75 13.5 9.75Z" fill="white"/>
          </svg>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
        </mat-form-field>
        <mat-datepicker #picker></mat-datepicker>
        
      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-tab>
  <mat-tab label="Claim Codes">Content 3</mat-tab>
  <mat-tab label="Invoices">Content 3</mat-tab>
  <mat-tab label="EDI Clients Specifics">Content 3</mat-tab>
</mat-tab-group>




